<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stable Diffusion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"/>
    <style>
        .chat-form {
            display: flex;
            flex-direction: column;
        }

        .form-group {
            margin-bottom: 0;
        }

        .form-control {
            border-radius: 0;
        }

        .btn {
            border-radius: 0 10px 10px 0;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            Stable Diffusion
        </a>
    </nav>
</head>
<body>
<div class="container-fluid">
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-lg-6">
            <div class="card">
                <div class="card-header bg-primary text-white">Prompt Form</div>
                <div class="card-body chat-form">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" id="query" name="prompt" class="form-control"
                                   placeholder="Enter your prompt">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header bg-primary text-white">Images</div>
                <div class="card-body chat-form">
                    <div id="image-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='./app.js') }}"></script>
</body>
</html>
